# LAB Monday: Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://www.billboard.com/charts/hot-100/'

In [3]:
results=requests.get(url, headers ={'Accept-Language':'en-US'})

In [4]:
soup = BeautifulSoup(results.content,'html.parser')

print(soup.prettify())

In [5]:
soup.select('h3.c-title.a-no-trucate')[0].get_text(strip=True)

"We Don't Talk About Bruno"

In [6]:
soup.select('span.c-label.a-no-trucate')[0].get_text(strip=True)

'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast'

In [7]:
title=[]
artists=[]

len_songs=len(soup.select('h3.c-title.a-no-trucate'))

In [8]:
len_songs

100

In [9]:
for i in range(len_songs):
    title.append(soup.select('h3.c-title.a-no-trucate')[i].get_text(strip=True))
    artists.append(soup.select('span.c-label.a-no-trucate')[i].get_text(strip=True))

In [10]:
# title_df=[]
# artist_df=[]

# for songs in title:
#     title_df.append(songs.replace('\n', ''))

# for songs in artists:
#     artist_df.append(songs.replace('\n', ''))


# using strip=True in the step before it is not necessary to replace \n

In [11]:
len(title)

100

In [12]:
len(artists)

100

In [13]:
import pandas as pd

songs=pd.DataFrame({'Song_title':title, 'Artists':artists})
songs

,Song_title,Artists
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz..."
1,Heat Waves,Glass Animals
2,abcdefu,GAYLE
3,Easy On Me,Adele
4,Super Gremlin,Kodak Black
...,...,...
95,Closer,Saweetie Featuring H.E.R.
96,Cold December,Rod Wave
97,Get Into It (Yuh),Doja Cat
98,All Too Well (Taylor's Version),Taylor Swift
99,Give Heaven Some Hell,HARDY

In [14]:
import numpy as np
songs['Rank']=np.arange(len(songs))+1

In [15]:
songs

,Song_title,Artists,Rank
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1
1,Heat Waves,Glass Animals,2
2,abcdefu,GAYLE,3
3,Easy On Me,Adele,4
4,Super Gremlin,Kodak Black,5
...,...,...,...
95,Closer,Saweetie Featuring H.E.R.,96
96,Cold December,Rod Wave,97
97,Get Into It (Yuh),Doja Cat,98
98,All Too Well (Taylor's Version),Taylor Swift,99
99,Give Heaven Some Hell,HARDY,100

# LAB Tuesday: Prototype with user input

- collect user input with a prompt eg. 'what song do you like?'

In [16]:
input_song= input('what song do you like? ')

if input_song in songs['Song_title'].values:
    print ('The song exists')
else:
    print('The song does not match, try again')

what song do you like? Closer
The song exists

- deal with at least one possible user input error / behaviour (you can add more issues and resolutions later) eg. standardise upper/lower case
- look for what the user has input, against your 100 hot song collection (more flexible lookup can be added later)
- feedback to user if their song is hot or not.

In [17]:
input_song= input('what song do you like? ')
lower_song=input_song.lower()

df = songs.applymap(lambda s:s.lower() if type(s) == str else s)

if lower_song in df['Song_title'].values:
    print ('This is a hot song')
else:
    print('This is not a hot song or does not match with the top 100, try again')

what song do you like? closer
This is a hot song

- provide a recommendation from the collection - potentially randomly

In [124]:
from IPython.display import display

lower_song= input('what song do you like?\n\n ').lower()

df = songs.applymap(lambda s:s.lower() if type(s) == str else s)

if lower_song in df['Song_title'].values:
    print ('\nThis is a hot song. But we suggest you these other hot songs: \n')
    print(songs[['Song_title','Artists']].sample(1))
else:
    print('This is not a hot song or does not match with the top 100')

what song do you like?

 closer

This is a hot song. But we suggest you these other hot songs:

         Song_title     Artists
35  One Mississippi  Kane Brown