In [ ]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
ls

# Importing data

In [ ]:
data=pd.read_csv('alldata.csv')

In [ ]:
data

# Review data

LEGEND:
- position: position title
- company: company name
- description: job decription
- reviews: number of reviews for the company
- location: name of the state

In [ ]:
data.info() # we can see there's some null values in reviews column

In [ ]:
data.shape # we can check the size of the database

In [ ]:
data.describe() # we have chosen this method to check some features of the database

In [ ]:
data['location'].unique() # to see which different kind of items are assigned to each state

In [ ]:
data['position'].unique().tolist() # look in filtered Excel, but with tolist metod we can see all the items

# Remove Duplicates

In [ ]:
data.shape

In [ ]:
data=data.drop_duplicates()
data.shape # we have check theres no duplicates rows in our database

# all database categorical changed to lowercase to facilitate the queries

In [ ]:
for i in data.select_dtypes(include=object): 
    data[i]=data[i].str.lower()

# Deal with nulls

In [ ]:
nulls_data=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_data=nulls_data.rename(columns={'index':'header',0:'prop_nulls'})
nulls_data

In [ ]:
med=data['reviews'].median()
data['reviews']=data['reviews'].fillna(med)
 # we replace the null valeus of numerical fields by the median

In [ ]:
data['position']=data['position'].fillna("Unknown")
data['company']=data['company'].fillna("Unknown")
data['description']=data['description'].fillna("Unknown")
data['location']=data['location'].fillna("Unknown")  
# we replace the null valeus of categorical fields by Unknown

In [ ]:
nulls_data=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_data=nulls_data.rename(columns={'index':'header',0:'prop_nulls'})
nulls_data

# Preparing data / Exporting data

## Working in location column

In [ ]:
data.shape

In [ ]:
data = data[(data['position'].str.contains('data analyst')) | (data['position'].str.contains('data scientist'))
       | (data['position'].str.contains('bussiness intelligence')) | (data['position'].str.contains('sql')) 
         | (data['position'].str.contains('machine learning')) | (data['position'].str.contains('data engineering'))
    | (data['position'].str.contains('python')) | (data['position'].str.contains('computer science'))]
data.shape

In [ ]:
data

In [ ]:
def extract_state (s):
    return s.split(',')[1].split(' ')[1]

data['state']=data['location'].apply(extract_state)

In [ ]:
def extract_city (s):
    return s.split(',')[0]

data['city']=data['location'].apply(extract_city)

In [ ]:
data.head(1)

In [ ]:
data['state']=data['state'].str.upper()

In [ ]:
data.drop(['location','reviews'],axis = 1, inplace = True)

## Working in position column

In [ ]:
data.head(1)

In [ ]:
data['position'].value_counts()

In [ ]:
# data.to_csv('alldata_filtered.csv')

## Working in description column

In [ ]:
import re
X=data.description

X=[re.sub(r"[^a-zA-Z0-9]+", ' ', k) for k in X]
X=[re.sub("[0-9]+",' ',k) for k in X]

s_total=''

for z in X:
    s_total += z

In [ ]:
s_total

In [ ]:
import collections
from collections import Counter
import re

reg = re.compile('\S{4,}')
c = Counter(ma.group() for ma in reg.finditer(s_total))
print(c)

In [ ]:
df = pd.DataFrame.from_dict(c, orient='index').reset_index()

In [ ]:
df.to_csv('description.csv')